.app {
  display: grid;
  grid-template-rows: 150px auto;
}

.app_main {
  width: 697.3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  margin: auto;
}
